<div class="container-fluid pr-0 pl-0">
	<app-header></app-header>
	<section class="showcase">
		<div class="showcase-content">
			<img src="assets/img/logo.jpg" width="40%" alt="Diseñart Logo">
			<p>Más de una década brindando servicios a la construcción de viviendas</p>
		</div>
	</section>
	<section class="about-us-section" id="nosotros">
		<div class="about-us">
			<div class="inner-container">
				<h1>Nosotros</h1>
				<p>
					Diseñart es una empresa que se dedica hace más de diez años a la construcción de viviendas.<br><br>
					Buscamos que nuestros clientes sean partícipes en los diseños y proyectos que le brindan nuestros profesionales con asesoramiento permanente en cada etapa de la obra, 
					para que obtenga una casa a la medida de sus necesidades. 
					Contamos con la excelente coordinación de equipos especializados en la construcción para brindar el mejor servicio y en el menor tiempo.<br><br>
					Todos nuestros materiales son de primera calidad por lo que nuestros trabajos están garantizados.
				</p>
			</div>
		</div>
	</section>
	<section class="services-section" id="servicios">
		<div class="row mx-auto p-3">
			<div class="col-lg-3 col-md-6 col-sm-6 mb-2">
				<div class="card h-100 shadow-lg">
					<img class="card-img-top" src="assets/img/llaveEnMano.jpg" alt="Llave en mano">
					<div class="card-body">
						<div class="card-title font-weight-bold text-uppercase">
							Llave en mano
						</div>
						<p>Contamos con precios especiales para construcciones mayores a los 250m2.</p>
					</div>
					<div class="card-footer bg-transparent text-center border-0">
						<button class="btn btn-disenart">¿Qué incluye?</button>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 mb-2">
				<div class="card h-100 shadow-lg">
					<img class="card-img-top" src="assets/img/obraGruesa.jpg" alt="Obra gruesa">
					<div class="card-body">
						<div class="card-title font-weight-bold text-uppercase">
							Obra gruesa
						</div>
						<p>Comprende la estructura principal de la vivienda, desde los cimientos hasta la cubierta, con todos los servicios funcionando: luz, agua, calefacción y gas.</p>
					</div>
					<div class="card-footer bg-transparent text-center border-0">
						<button class="btn btn-disenart">Nuestros materiales</button>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 mb-2">
				<div class="card h-100 shadow-lg">
					<img class="card-img-top" src="assets/img/piscinas.jpg" alt="Piscinas">
					<div class="card-body">
						<div class="card-title font-weight-bold text-uppercase">
							Piscinas
						</div>
						<p>Construimos piscinas completamente en hormigón H21 y armadura de hierro de alta resistencia, trabajamos con materiales de primera calidad y mano de obra especializada brindando una máxima vida útil.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6 mb-2">
				<div class="card h-100 shadow-lg">
					<img class="card-img-top" src="assets/img/disenoInteriores.jpg" alt="Interiores">
					<div class="card-body">
						<div class="card-title font-weight-bold text-uppercase">
							Diseño de interiores
						</div>
						<div class="card-content">
							Diseñamos una correcta utilización del espacio para que funcione y haga realidad los deseos de sus habitantes. Asesoramos en decoración y te ayudamos a encontrar el equilibrio o las sensaciones deseadas en cada ambiente.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
