<div class="toolbar" role="banner">
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span>{{title}}</span>
  </div>

  <div class="content" role="main">
    <!-- Nosotros -->
    <div class = "card-container">
        <h3>Nosotros</h3>
        <p> 
            Diseñart es una empresa que se dedica hace más de diez años a la construcción de viviendas. 
            Buscamos que nuestros clientes sean partícipes en los diseños y proyectos que le brindan nuestros profesionales con asesoramiento permanente en cada etapa de la obra, para que obtenga una casa a la medida de sus necesidades. Contamos con la excelente coordinación de equipos especializados en la construcción para brindar el mejor servicio y en el menor tiempo.
            Todos nuestros materiales son de primera calidad por lo que nuestros trabajos están garantizados.
        </p>
    </div>
    <!-- Casas -->
    <div class = "card-container">
            <h3>Nuestras Casas</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis quam nec cursus semper. Vestibulum aliquam augue non quam pharetra, ut mattis mi ultricies. Morbi faucibus, lectus sed interdum facilisis, augue diam cursus ipsum, ut fermentum justo arcu sit amet sapien. Sed ac blandit elit. Quisque enim sem, placerat quis tincidunt sit amet, maximus et nisi. Integer eu purus eget nisi gravida facilisis. Nullam varius dictum ligula, vitae efficitur dolor fringilla quis. Nam et odio ac diam egestas ullamcorper. Duis porttitor maximus luctus. Donec pretium sagittis lectus, quis sollicitudin nulla pulvinar ac. Nulla facilisi.</p>
    </div>
    <!-- Contacto -->
    <div class = "card-container">
        <h3>Contactenos</h3>
        <p>            Direccion: Av. Camaño 1103 Local 45 Paseo Vía Pilar
            Buenos Aires, Argentina


        </p>
        <!--
        <ul>
            <li>
               
            </li>
            <li>
                Telefono: (0230) 430 0474
            </li>
            <li>
                Email: info@dart.com.ar
            </li>
            <li>
                Lunes - Viernes: 09:00 - 18:00
                Sabado, Domingo: Cerrado
            </li>
        </ul> -->
    </div>

  </div>
