/* Estilos del landing */
.showcase {
	/*background-color: rgb(247, 47, 47, .15);*/
	background-color: rgba(246, 246, 246, 0.527);
	color: var(--disenart-white-color);
	height: 100vh;
	position: relative;
	font-family: 'GilroyBold', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::before{
	content: '';
	background: url(/assets/img/bg_principal.jpg) no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.showcase-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}

.showcase-content p {
	font-size: 1.3rem;
	color: #262626;
}
/* Fin de estilos del landing */

/* Estilos secci贸n: Nosotros */
.about-us-section {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f1f1f1;
}

.about-us {
	background: url(/assets/img/about_us.jpg) no-repeat left;
	background-size: 100%;
	background-color: #fdfdfd;
	overflow: hidden;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.about-us h1 {
	font-family: 'GilroyBold', Tahoma, Geneva, Verdana, sans-serif;
}

.about-us p {
	font-family: 'Gilroy', Verdana, Geneva, Tahoma, sans-serif;
}

.inner-container {
	width: 60%;
	float: right;
	background-color: #fdfdfd;
	padding: 70px;
}

.inner-container h1 {
	margin-bottom: 30px;
	font-size: 30px;
}

.inner-container p {
	color: #545454;
	line-height: 20px;
	text-align: justify;
}

@media screen and (max-width:1200px) {
	.inner-container {
		padding: 25px;
	}
}

@media screen and (max-width:1000px) {
	.about-us {
		background: none;
		background-color: #fdfdfd;
	}
	
	.about-us-section {
		background-size: 100%;
		background-color: #fdfdfd;
	}

	.inner-container {
		width: 100%;
	}

	.inner-container p {
		text-align: left;
	}
}

@media screen and (max-width:600) {
	.about-us-section {
		padding: 0;
	}

	.inner-container {
		padding: 70px;
	}
}
/* Fin de los estilos secci贸n: Nosotros */

/* Estilos secci贸n: Servicios */ 
.services-section {
	width: 100%;
	min-height: 100vh;
	background-color: #f1f1f1;
	display: flex;
}

.services-section .row {
	margin: auto;
}

.btn-disenart {
	background-color: #B60E0E;
	color: #f1f1f1;
}
/* Fin de los estilos secci贸n: Servicios */ 