<!--<nav class="navbar navbar-light">
	<a class="navbar-brand" href="#">
		<img src="assets/img/logo.jpg" width="45%" class="d-inline-block align-top" alt="Diseñart Logo">
	</a>
</nav>-->

<div class="container-fluid pr-0 pl-0">
	<app-header></app-header>
	<section class="showcase">
		<div class="showcase-content">
			<img src="assets/img/logo.jpg" width="40%" alt="Diseñart Logo">
			<p>Más de una década brindando servicios a la construcción de viviendas</p>
		</div>
	</section>
	<section class="about-us-section" id="nosotros">
		<div class="about-us">
			<div class="inner-container">
				<h1>Nosotros</h1>
				<p>
					Diseñart es una empresa que se dedica hace más de diez años a la construcción de viviendas.<br><br>
					Buscamos que nuestros clientes sean partícipes en los diseños y proyectos que le brindan nuestros profesionales con asesoramiento permanente en cada etapa de la obra, 
					para que obtenga una casa a la medida de sus necesidades. 
					Contamos con la excelente coordinación de equipos especializados en la construcción para brindar el mejor servicio y en el menor tiempo.<br><br>
					Todos nuestros materiales son de primera calidad por lo que nuestros trabajos están garantizados.
				</p>
			</div>
		</div>
	</section>
</div>
